# Dependencies
node_modules/
.pnp
.pnp.js

# Production / Build Output
dist/
dist-ssr/
*.local
.vitepress/dist
.vitepress/cache

# Environment Variables
.env
.env*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
